*.log
*.pid
*.pid.lock
*.seed
*.tgz
.editorconfig
.env
.eslintcache
.eslintignore
.eslintrc
.husky/
.prettierignore
.prettierrc
.yarn-integrity
/.vscode/
/jest.modules.json
/typedoc.json
babel.config.js
codecov.yml
coverage
jest.config.js
lib
logs
node_modules/
pids
tsconfig.json
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*